body {
  margin: 0;
  padding: 0;
  background: url( './images/grafitti_bg.jpg' ) repeat-y center top;
  height: 2000px;
}

.App .Header {
  min-width: 100%;
  color: silver;
  border-bottom: 1px solid silver;
  position: fixed;
  top: 0;
}

.App .Header h1 {
  font-size: 20px;
}