@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
  margin: 0;
  padding: 0;
  background: url( './images/grafitti_bg.jpg' ) repeat-y center top;
}

.App .Header {
  min-width: 100%;
  height: 50px;
  color: silver;
  border-bottom: 1px solid silver;
  position: fixed;
  top: 0;
  font-family: 'Lobster', cursive;
  background-color: rgba(0, 0, 0, 0.7);
}

.App .content-container {
  margin-top: 60px;
}

.post-container {
  display: grid;
  grid-template-columns: repeat( 1, 1fr );
}

.App .Header h1 {
  font-size: 20px;
  text-indent: 10px;
}

.Posts {
  background-color: rgba(0, 0, 0, 0.7);
  margin-bottom: 10px;
  border: 1px solid silver;
}

.Posts p {
  color: white;
}

.Posts .headings {
  display: flex;
  flex-direction: row;
}